.applicant-notifications {
    margin-left: 10px !important;
}

.applicant-row {
    cursor: pointer !important;
}

.add-applicant-button {
    background-color: #00cd9a !important;
    z-index: 0 !important;
}

.add-applicant-button:hover {
    background-color: #008161 !important;
}

.add-applicant-modal-bg {
    height: 100%;
    background: rgba(0, 0, 0, 0.6) !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.add-applicant-modal-close-button {
    cursor: pointer !important;
}

.view-applicants {
    position: absolute !important;
    right: 8%;
}

.add-applicant {
    position: absolute !important;
    right: 20%;
}

.add-applicants {
    position: absolute !important;
    right: 8%;
}

.profile-picture-container {
    height: 30%;
}

.profile-picture {
    width: 100%;
    height: 100%;
}

.profile-navigation {
    height: auto;
    color: #a9a9a9;
}

.profile-navigation-link:hover {
    cursor: pointer;
    font-weight: bold;
    color: #000;
}

.profile-navigation-link-active {
    color: #00cd9a;
    font-weight: bold;
}

.profile-navigation-link-active:hover {
    cursor: pointer;
    font-weight: bold;
}