/* Applicant page layout */

.applicant-page {
    float: left;
    height: 87% !important;
    width: 100%;
}

/* Applicant table */

.applicant-table {
    overflow-y: auto;
    height: 70%;
}

.applicant-table-modifiers {
    height: 10%;
}

.applicant-table-modifiers-filter {
    float: left;
    width: 40%;
    margin-left: 2%;
}

.applicant-table-modifiers-switch {
    float: right;
    margin-top: 2%;
}

.applicant-table-table {
    font-size: 12px !important;
    
}

.applicant-table-row {
    cursor: pointer !important;
    font-weight: 400;
}

.applicant-table-row:hover {
    background-color: #cdfff3;
}

.applicant-table-space {
    height: 2%;
}

/* Applicant table modifiers */

.applicant-table-modifiers-buttons {
    position: fixed;
    bottom: 5%;
    right: 5%;
}

.add-applicant-button {
    background-color: #00e73a !important;
    z-index: 0 !important;
    font-size: 14px !important;
}

.add-applicant-button:hover {
    background-color: #009a27 !important;
}

.archive-applicant-button {
    background-color: #00ade7 !important;
    z-index: 0 !important;
    font-size: 14px !important;
}

.archive-applicant-button:hover {
    background-color: #00749a !important;
}

.hire-applicant-button {
    background-color: #00ade7 !important;
    z-index: 0 !important;
    font-size: 14px !important;
}

.hire-applicant-button:hover {
    background-color: #00749a !important;
    z-index: 0 !important;
    font-size: 14px !important;
}

.show-hired-applicant-button {
    background-color: #e7ae00 !important;
    z-index: 0 !important;
    font-size: 14px !important;
}

.show-hired-applicant-button:hover {
    background-color: #b48800 !important;
    z-index: 0 !important;
    font-size: 14px !important;
}

/* Applicant table switch */
.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #00ade7;
}

.switch label input[type=checkbox]:checked+.lever {
    background-color: #84c7c1;
}