.add-applicant-modal-bg {
    height: 100%;
    background: rgba(0, 0, 0, 0.6) !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.add-applicant-modal-close-button {
    cursor: pointer !important;
}

.view-applicants {
    position: absolute !important;
    right: 8%;
}

.add-applicant {
    position: absolute !important;
    right: 20%;
}

.add-applicant-modal {
    height: 80% !important;
    position: relative;
}

.archive-applicant-modal {
    height: 80% !important;
    position: relative;
}

.add-applicant-modal-buttons {
    position: absolute;
    bottom: -5%;
    right: 5%;
}

.archive-applicant-modal-button {
    position: absolute;
    bottom: -5%;
    right: 5%;
}

.applicant-add-modal-icon {
    margin-top: 3% !important;
}