/* Applicant page layout */

.applicant-page {
    float: left;
    height: 87% !important;
    width: 100%;
}

/* Applicant table */

.applicant-table {
    overflow-y: auto;
    height: 70%;
}

.applicant-table-modifiers {
    height: 10% !important;
}

.applicant-table-modifiers-filter {
    float: left;
    width: 40% !important;
    margin-left: 2%;
}

.applicant-table-modifiers-switch {
    float: right;
    margin-top: 2%;
}

.applicant-table-table {
    font-size: 12px !important;
}

.applicant-table-row {
    cursor: pointer !important;
    font-weight: 400;
}

.applicant-table-row:hover {
    background-color: rgba(211, 211, 211, 0.6);
}

.applicant-table-space {
    height: 2%;
}

/* Applicant table modifiers */

.applicant-table-modifiers-buttons {
    position: fixed;
    bottom: 5%;
    right: 5%;
}

.add-applicant-button {
    background-color: #03e54d !important;
    z-index: 0 !important;
    font-size: 14px !important;
}

.add-applicant-button:hover {
    background-color: #0bef51 !important;
}

.archive-applicant-button {
    /* background-color: #e5032a !important; */
    background-color: #f74f6f !important;
    z-index: 0 !important;
    font-size: 14px !important;
}

.archive-applicant-button:hover {
    background-color: #ef0b36 !important;
}

.hire-applicant-button {
    /* background-color: #039be5 !important; */
    background-color: #4fc3f7 !important;
    z-index: 0 !important;
    font-size: 14px !important;
}

.hire-applicant-button:hover {
    background-color: #0ba8ef !important;
    z-index: 0 !important;
    font-size: 14px !important;
}

.show-hired-applicant-button {
    /* background-color: #e54d03 !important; */
    background-color: #f7d74f !important;
    z-index: 0 !important;
    font-size: 14px !important;
}

.show-hired-applicant-button:hover {
    background-color: #efc30b !important;
    z-index: 0 !important;
    font-size: 14px !important;
}

/* Applicant table switch */

.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #039be5;
}

.switch label input[type=checkbox]:checked+.lever {
    background-color: #84c7c1;
}

/* Applicant table column width */

.applicant-column-checkbox {
    width: 5% !important;
}

.applicant-column-id {
    width: 18% !important;
    cursor: pointer;
}

.applicant-column-email {
    width: 18% !important;
    cursor: pointer;
}

.applicant-column-reference {
    width: 13% !important;
    cursor: pointer;
}

.applicant-column-status {
    width: 5% !important;
    cursor: pointer;
}

.applicant-column-action {
    width: auto;
}