.employee-table-table {
    font-size: 12px !important;
}

.employee-table-row {
    cursor: pointer !important;
    font-weight: 400;
}

.employee-table-row:hover {
    background-color: rgba(211, 211, 211, 0.6);
}