.projects-card {
    float: left;
    position: relative;
    margin: 1.66%;
    width: 30%;
    height: 30%;
    padding: 1%;
}

.projects-card-buttons {
    position: absolute;
    right: 5%;
    bottom: -25%;
}

.projects-card-information {
    height: 100%;
    width: 100%;
}

.projects-card-information>.project-name {
    cursor: pointer;
    height: 100%;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis !important;
    display: block;
    overflow: hidden
}