<div ng-show="startJS()">
    <div class="leaves-page">
        <div class="calendar-search">
            <div class="search-date">
                <div class="input-field">
                    <i data-feather="search" class="prefix input-icon"></i>
                    <input id="calendarFilter" ng-model="calendarFilter" type="text" class="validate z-depth-5 datepicker">
                </div>
            </div>
        </div>
        <div class="calendar-container z-depth-5">
            <div id='calendar' class="scroll"></div>
        </div>
        <div class="calendar-modifiers">
            <div class="fixed-action-btn">
                <a class="btn-floating btn-large calendar-options-button z-depth-5">
                    <i data-feather="eye" class="center-feather-icon"></i>
                </a>
                <ul>
                    <li>
                        <a ng-click="functions.viewByDay()" class="btn-floating option-view z-depth-5 tooltipped" data-position="left"
                            data-tooltip="View by day">
                            D
                        </a>
                    </li>
                    <li>
                        <a ng-click="functions.viewByWeek()" class="btn-floating option-view z-depth-5 tooltipped" data-position="left"
                            data-tooltip="View by week">
                            W
                        </a>
                    </li>
                    <li>
                        <a ng-click="functions.viewByMonth()" class="btn-floating option-view z-depth-5 tooltipped" data-position="left"
                            data-tooltip="View by month">
                            M
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>