<div ng-show="startJS()">
    <div class="whole-page">
        <div class="top-section">
            <div class="table-filter">
                <div ng-show="calendarShown" class="input-field">
                    <i data-feather="search" class="prefix"></i>
                    <input id="calendarFilter" ng-model="calendarFilter" type="text" class="validate z-depth-5">
                    <label for="calendarFilter">Search</label>
                </div>
                <div ng-show="employeesShown" class="input-field">
                    <i data-feather="search" class="prefix"></i>
                    <input id="employeesFilter" ng-model="employeesFilter" type="text" class="validate z-depth-5">
                    <label for="employeesFilter">Search</label>
                </div>
                <div ng-show="membersShown" class="input-field">
                    <i data-feather="search" class="prefix"></i>
                    <input id="membersFilter" ng-model="membersFilter" type="text" class="validate z-depth-5">
                    <label for="membersFilter">Search</label>
                </div>
            </div>
            <div class="table-switch">
                <div ng-if="calendarShown">
                    <a ng-click="functions.viewByDay()" class="btn-floating btn-large info-button view-calendar-icons z-depth-5 tooltipped" data-position="top"
                        data-tooltip="View by day">
                        D
                    </a>
                    <a ng-click="functions.viewByWeek()" class="btn-floating btn-large info-button view-calendar-icons z-depth-5 tooltipped"
                        data-position="top" data-tooltip="View by week">
                        W
                    </a>
                    <a ng-click="functions.viewByMonth()" class="btn-floating btn-large info-button view-calendar-icons z-depth-5 tooltipped"
                        data-position="top" data-tooltip="View by month">
                        M
                    </a>
                </div>
                <div ng-show="employeesShown" ng-init="functions.initLeaveStatusToggle()" class="switch graytext">
                    <i>{{leaveStatusSwitchText}}</i>
                    <label>
                        <input type="checkbox" ng-model="leaveStatusToggle" ng-change="functions.toggleLeaveStatus()">
                        <span class="lever"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="middle-section z-depth-5">
            <div class="scrollable-content scroll">
                <div ng-if="calendarShown" class="put-right calendar-icons">
                    <a ng-click="functions.navigatePrevious()" class="btn-small info-button">
                        <i class="material-icons left">chevron_left</i>Previous
                    </a>
                    <a ng-click="functions.navigateNext()" class="btn-small info-button">
                        <i class="material-icons right">chevron_right</i>Next
                    </a>
                    <a ng-click="functions.navigateToday()" class="btn-small info-button">
                        Today
                    </a>
                </div>
                <div ng-show="calendarShown" class="auto-fit-container">
                    <div id='calendar' class="padding-content">
                    </div>
                    <div ng-if="toggleAllLeaveEvents" ng-init="functions.toggleAllLeaveEvents()"></div>
                </div>
                <div ng-if="employeesShown" class="padding-content">
                    <ul class="collection">
                        <li ng-repeat="leave in allLeaves | filter: employeesFilter" ng-if="allLeaves.length>0 && (leaveStatusToggle === leave.request.isAcknowledgedByHR) && leave.request.isAcceptedByPL"
                            class="collection-item">
                            <ul class="collection">
                                <li class="collection-item">
                                    <div class="one-fifth">
                                        <ul class="collection">
                                            <li class="collection-item item-title">Employee</li>
                                            <li class="collection-item item-title">Type</li>
                                            <li class="collection-item item-title">Reason</li>
                                            <li class="collection-item item-title">Requested Dates</li>
                                            <li class="collection-item item-title">Affected Dates</li>
                                            <li class="collection-item item-title">Project</li>
                                        </ul>
                                    </div>
                                    <div class="four-fifths">
                                        <ul class="collection">
                                            <li class="collection-item">{{leave.request.employee.email}}</li>
                                            <li class="collection-item">{{leave.request.request.type}}</li>
                                            <li class="collection-item">{{leave.request.request.reason}}</li>
                                            <li class="collection-item">{{leave.request.request.startDate}} - {{leave.request.request.endDate}}</li>
                                            <li class="collection-item">{{leave.request.affected.startDate}} - {{leave.request.affected.endDate}}</li>
                                            <li class="collection-item">{{leave.projectname}}</li>
                                        </ul>
                                    </div>
                                    <div ng-if="!leaveStatusToggle" class="put-right">
                                        <a ng-click="functions.acknowledgeLeave(leave, false)" class="btn danger-button">
                                            <i class="material-icons left">clear</i>Decline</a>
                                        <a ng-click="functions.acknowledgeLeave(leave, true)" class="btn success-button">
                                            <i class="material-icons left">check</i>Approve</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="collection-item" ng-if="(!allLeaves.length>0  || !functions.hasForwardedLeaves()) && !leaveStatusToggle">
                            <i class="graytext">No forwarded leave requests yet</i>
                        </li>
                        <li class="collection-item" ng-if="(!allLeaves.length>0 || !functions.checkIfSomeAckHR()) && leaveStatusToggle">
                            <i class="graytext">No acknowledged leave requests yet</i>
                        </li>
                    </ul>
                </div>
                <div ng-if="membersShown" class="padding-content">
                    <ul class="collection">
                        <li class="collection-item" ng-repeat="project in allProjects | filter: {name:membersFilter}" ng-init="functions.initProjectToggle(project)"
                            ng-if="(project.projectlead.userkey === userlogged.userkey)">
                            <div class="row">
                                <div class="one-half">
                                    <div class="input-field">
                                        <i data-feather="search" class="prefix"></i>
                                        <input ng-model="project.search" type="text" class="validate z-depth-5">
                                        <label for="">Search {{project.name}}</label>
                                    </div>
                                </div>
                                <div class="one-half">
                                    <div class="put-right">
                                        <div class="switch graytext">
                                            <i>{{project.name}}</i>
                                            <label>
                                                <input type="checkbox" ng-model="project.leaveToggle">
                                                <span class="lever"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-repeat="request in project.requests | toArray:false | filter:project.search" ng-if="functions.hasRequests(project) && (request.isAcknowledgedByPL === project.leaveToggle)">
                                <ul class="collection">
                                    <li class="collection-item" ng-if="request.isAcknowledgedByPL === project.leaveToggle">
                                        <div class="one-fifth">
                                            <ul class="collection">
                                                <li class="collection-item item-title">Employee</li>
                                                <li class="collection-item item-title">Type</li>
                                                <li class="collection-item item-title">Reason</li>
                                                <li class="collection-item item-title">Requested Dates</li>
                                                <li class="collection-item item-title">Affected Dates</li>
                                            </ul>
                                        </div>
                                        <div class="four-fifths">
                                            <ul class="collection">
                                                <li class="collection-item">{{request.employee.email}}</li>
                                                <li class="collection-item">{{request.request.type}}</li>
                                                <li class="collection-item">{{request.request.reason}}</li>
                                                <li class="collection-item">{{request.request.startDate}} - {{request.request.endDate}}</li>
                                                <li class="collection-item">{{request.affected.startDate}} - {{request.affected.endDate}}</li>
                                            </ul>
                                        </div>
                                        <div ng-if="!project.leaveToggle" class="put-right">
                                            <a ng-click="functions.forwardLeave(project.name, project.projectkey, request, false)" class="btn danger-button">
                                                <i class="material-icons left">clear</i>Decline</a>
                                            <a ng-click="functions.forwardLeave(project.name, project.projectkey, request, true)" class="btn success-button">
                                                <i class="material-icons left">check</i>Approve</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div ng-if="(!functions.hasRequests(project) || functions.checkIfAllAck(project.requests)) && !project.leaveToggle">
                                <ul class="collection">
                                    <li class="collection-item">
                                        <i class="graytext">No leave requests for this project yet</i>
                                    </li>
                                </ul>
                            </div>
                            <div ng-if="(!functions.hasRequests(project) || !functions.checkIfAllAck(project.requests)) && project.leaveToggle">
                                <ul class="collection">
                                    <li class="collection-item">
                                        <i class="graytext">No forwarded leave requests for this project yet</i>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="bottom-section">
            <div class="crud-buttons">
                <a ng-click="functions.showRequests()" class="btn-floating btn-large success-button z-depth-5 tooltipped" data-position="top"
                    data-tooltip="Request">
                    <i data-feather="mail" class="center-feather-icon"></i>
                </a>
                <a ng-show="userlogged.isAdmin" ng-click="functions.showEmployees()" class="btn-floating btn-large info-button z-depth-5 tooltipped"
                    data-position="top" data-tooltip="Employees">
                    <i data-feather="users" class="center-feather-icon"></i>
                </a>
                <a ng-show="$root.isProjectLead" ng-click="functions.showMembers()" class="btn-floating btn-large info-button z-depth-5 tooltipped"
                    data-position="top" data-tooltip="Project Members">
                    <i data-feather="package" class="center-feather-icon"></i>
                </a>
                <a ng-click="functions.showCalendar()" class="btn-floating btn-large info-button z-depth-5 tooltipped" data-position="top"
                    data-tooltip="Calendar">
                    <i data-feather="calendar" class="center-feather-icon"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-show="requestsShown">
    <ng-include src="'./components/leaves_component/views/addrequestmodal.html'">
    </ng-include>
</div>