<div ng-show="startJS()" ng-controller="addEmployeeModalCtrl" class="modal-background">
    <div class="row">
        <div class="col s3"></div>
        <div class="col s6">
            <div class="card modal-size">
                <div class="card-content scrollable-content scroll">
                    <span class="card-title grey-text text-darken-4">{{selectedSlot.role}}
                        <i ng-click="functions.hideAddEmployeeModal()" class="material-icons right cursor-button">close</i>
                    </span>
                    <div class="row"></div>
                    <div ng-if="(functions.checkIfAllDeployed())" class="row">
                        <h4 class="graytext">
                            <i>No available employees</i>
                        </h4>
                    </div>
                    <div ng-if="!(functions.checkIfAllDeployed())" class="row">
                        <div class="input-field col s12">
                            <i data-feather="search" class="prefix input-icon"></i>
                            <input id="addEmployee_employee" ng-model="addEmployee_employee" type="text" class="validate">
                            <label for="addEmployee_employee">Search</label>
                        </div>
                    </div>
                    <div ng-if="!(functions.checkIfAllDeployed())" class="row">
                        <ul class="collapsible">
                            <li ng-repeat="employee in allEmployees | filter:addEmployee_employee" ng-show="!(functions.checkIfHasProject(employee))">
                                <div class="collapsible-header">
                                    {{employee.email}}
                                </div>
                                <div class="collapsible-body">
                                    <div class="row">
                                        <p>{{employee.files.lastname}}, {{employee.files.firstname}}</p>
                                        <p ng-if="employee.files.projects">
                                            <b>Projects</b>
                                        </p>
                                        <p ng-if="!employee.files.projects" class="graytext">
                                            <i>No projects yet.</i>
                                        </p>
                                    </div>
                                    <div class="row">
                                        <a class="btn-small success-button" ng-click="functions.assignEmployee(employee)">
                                            <i class="material-icons left">add</i>Assign as {{selectedSlot.role}}</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s3"></div>
    </div>
</div>