<div ng-show="startJS()">
    <div class="whole-page">
        <div class="project-section z-depth-5">
            <div class="scrollable-content scroll">
                <div class="project-information">
                    <h2>{{selectedProject.name}}</h2>
                    <p ng-if="selectedProject.projectlead" class="graytext"><i>Project lead: {{selectedProject.projectlead.email}}</i></p>
                    <p ng-if="!selectedProject.projectlead" class="graytext"><i>No project lead yet!</i></p>
                    <h5>Schedules</h5>
                    <div class="schedule-tiles">
                        <ul class="collection">
                            <li class="collection-item">
                                <b>Schedules</b>
                            </li>
                            <li ng-if="selectedProject.schedule.shifts" ng-repeat="(key, value) in selectedProject.schedule.shifts" class="collection-item">{{value.time}}</li>
                            <li ng-if="!selectedProject.schedule.shifts" class="collection-item"><i class="graytext">No schedules for this project yet.</i></li>
                        </ul>

                    </div>
                    <h5>Members</h5>
                    <div class="member-title">
                        <ul class="collection">
                            <li class="collection-item">
                                <b>Position</b>
                            </li>
                            <li ng-if="selectedProject.slots" ng-repeat="(key, value) in selectedProject.slots" class="collection-item">{{value.role}}</li>
                            <li ng-if="!selectedProject.slots" class="collection-item"><i class="graytext">No positions for this project yet.</i></li> 
                        </ul>
                    </div>
                    <div class="member-holder">
                        <ul class="collection">
                            <li class="collection-item">
                                <b>Employee</b>
                            </li>
                            <li ng-if="selectedProject.slots" ng-repeat="(key, value) in selectedProject.slots" class="collection-item">
                                <div ng-if="value.currentholder.userkey">
                                    {{value.currentholder.userkey}}
                                </div>
                                <div class="vacant-slot" ng-if="!value.currentholder.userkey" ng-click="functions.showAddEmployeeModal(value)">
                                    <i class="graytext">*Click to add employee</i>
                                </div>
                            </li>
                            <li ng-if="!selectedProject.slots" class="collection-item"><i class="graytext">No employees for this project yet.</i></li> 
                        </ul>
                    </div>
                    <div class="member-schedule">
                        <ul class="collection">
                            <li class="collection-item">
                                <b>Schedule</b>
                            </li>
                            <li ng-if="selectedProject.slots" ng-repeat="(key, value) in selectedProject.slots" class="collection-item">{{value.shiftdetails.time}}</li>
                            <li ng-if="!selectedProject.slots" class="collection-item"><i class="graytext">No schedules for this project yet.</i></li> 
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-section">
            <div class="crud-buttons">
                <a ng-click="functions.showAddPLModal()" class="btn-floating btn-large success-button z-depth-5 tooltipped"
                    data-position="top" data-tooltip="Add project lead">
                    <i data-feather="user-plus" class="center-feather-icon"></i>
                </a>
                <a ng-click="functions.showAddShiftModal()" class="btn-floating btn-large success-button z-depth-5 tooltipped"
                    data-position="top" data-tooltip="Add shift">
                    <i data-feather="clock" class="center-feather-icon"></i>
                </a>
                <a ng-click="functions.showAddSlotModal()" class="btn-floating btn-large success-button z-depth-5 tooltipped"
                    data-position="top" data-tooltip="Add slot">
                    <i data-feather="layers" class="center-feather-icon"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-show="showAddShift">
    <ng-include src="'./components/project_profile_component/views/addshiftmodal.html'">
    </ng-include>
</div>
<div class="row" ng-show="showAddSlot">
    <ng-include src="'./components/project_profile_component/views/addslotmodal.html'">
    </ng-include>
</div>
<div class="row" ng-show="showAddPL">
    <ng-include src="'./components/project_profile_component/views/addplmodal.html'">
    </ng-include>
</div>
<div class="row" ng-show="showAddEmployee">
    <ng-include src="'./components/project_profile_component/views/addemployeemodal.html'">
    </ng-include>
</div>