/* Applicant page layout */

.left-column {
    float: left;
    height: 87% !important;
    width: 70%;
}

.right-column {
    float: left;
    height: 87% !important;
    width: 28%;
}

.space-column {
    float: left;
    height: 87% !important;
    width: 2%;
}

/* Applicant table */

.applicant-table {
    overflow-y: auto;
    height: 88%;
}

.applicant-table-modifiers {
    height: 10%;
}

.applicant-table-modifiers-filter {
    float: left;
    width: 50%;
}

.applicant-table-modifiers-switch {
    float: left;
    width: 5%;
}

.applicant-table-modifiers-buttons {
    float: left;
    width: 40%;
}

.applicant-table-table {
    font-size: 14px !important;
}

.applicant-table-row {
    cursor: pointer !important;
}

.applicant-table-space {
    height: 2%;
}

/* Applicant table modifiers */

.add-applicant-button {
    background-color: #00cd34 !important;
    z-index: 0 !important;
    font-size: 14px !important;
}

.add-applicant-button:hover {
    background-color: #009a27 !important;
}

.archive-applicant-button {
    background-color: #009acd !important;
    z-index: 0 !important;
    font-size: 14px !important;
}

.archive-applicant-button:hover {
    background-color: #00749a !important;
}

/* Archive applicant button */

.applicant-archive-button {
    background-color: #009acd !important;
    cursor: pointer;
    z-index: 0 !important;
}

.applicant-archive-button:hover {
    background-color: #00749a !important;
}