html,
body {
    width: 100%;
    height: 100%;
    position: fixed !important;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-family: "Source Sans Pro", sans-serif !important;
}

.table-checkbox {
    margin-left: 20%;
}

.center-feather-icon {
    position: relative !important;
    top: 29%;
    right: 2%;
}

.center-small-feather-icon {
    position: relative !important;
    top: 20%;
    right: 0%;
}

.button-center-icon {
    margin-top: 20% !important;
}

.button-file-center-icon {
    margin-top: 45% !important;
}

.button-padding-icon {
    padding-top: 0px !important;
    padding-right: 1rem !important;
    padding-bottom: 0px !important;
    padding-left: 1rem !important;
}

.default-button-color {
    background-color: #262F3D !important;
    z-index: 0 !important;
    font-size: 14px !important;
}

/* input overwrite */

.input-field .prefix {
    margin-top: 4%;
}

.input-field input[type=email]:focus+label {
    color: #009acd !important;
}

.input-field input[type=password]:focus+label {
    color: #009acd !important;
}

.input-field input[type=text]:focus+label {
    color: #009acd !important;
}

.input-field input[type=email]:focus {
    border-bottom: 1px solid #009acd !important;
    box-shadow: 0 1px 0 0 #009acd !important;
}

.input-field input[type=password]:focus {
    border-bottom: 1px solid #009acd !important;
    box-shadow: 0 1px 0 0 #009acd !important;
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid #009acd !important;
    box-shadow: 0 1px 0 0 #009acd !important;
}

.input-field .prefix.active {
    color: #009acd !important;
}

.input-field {
    position: relative !important;
    margin-top: 0rem !important;
}

th,
td {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* scroll overwrite for chrome */

.scroll::-webkit-scrollbar {
    width: 5px;
}

.scroll::-webkit-scrollbar-track {
    background: #ddd;
}

.scroll::-webkit-scrollbar-thumb {
    background: #4fc3f7;
}

.graytext {
    color: #a9a9a9 !important;
}

.hyperlink-text {
    color: #009acd;
}

.item-clickable {
    cursor: pointer;
}

.item-title {
    font-weight: 600;
}

/* Button Colors */

.success-button {
    background-color: #03e54d !important;
    z-index: 0 !important;
    font-size: 14px !important;
}

.success-button:hover {
    background-color: #0bef51 !important;
}

.warning-button {
    background-color: #f7d74f !important;
    z-index: 0 !important;
    font-size: 14px !important;
}

.warning-button:hover {
    background-color: #efc30b !important;
}

.danger-button {
    background-color: #f74f6f !important;
    z-index: 0 !important;
    font-size: 14px !important;
}

.danger-button:hover {
    background-color: #ef0b36 !important;
}

.info-button {
    background-color: #4fc3f7 !important;
    z-index: 0 !important;
    font-size: 14px !important;
}

.info-button:hover {
    background-color: #0ba8ef !important;
}

/* Main divisions per page */

.top-section {
    position: relative;
    height: 10% !important;
    width: 100%;
}

.middle-section {
    position: relative;
    height: 70%;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 4%;
}

.bottom-section {
    position: relative;
    width: 100%;
    height: 20%;
}

.crud-buttons {
    position: fixed !important;
    bottom: 2% !important;
    right: 2% !important;
}

.whole-page {
    position: relative;
    float: left;
    height: 87% !important;
    width: 100%;
}

.scroll-page {
    position: relative;
    height: 100%;
    width: 100%;
}

.scrollable-content {
    position: absolute !important;
    overflow-y: auto !important;
    width: 100% !important;
    height: 100% !important;
}

.modal-background {
    height: 100%;
    background: rgba(0, 0, 0, 0.6) !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.modal-size {
    position: relative;
    height: 95% !important;
}

.modal-buttons {
    position: relative;
    float: right;
}

.table-switch {
    float: right;
    margin-top: 2%;
}

.table-filter {
    float: left;
    width: 40% !important;
    margin-left: 2%;
    position: relative;
}

.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #039be5;
}

.switch label input[type=checkbox]:checked+.lever {
    background-color: #84c7c1;
}

.fit-table-column {
    width: 1%;
    cursor: pointer;
    white-space: nowrap;
}

.checkbox-table-column {
    width: 1%;
}

.input-icon {
    margin-top: 1.5% !important;
}

.cursor-button {
    cursor: pointer !important;
}

.padding-content {
    padding: 1.5%;
}

.one-fifth {
    position: relative;
    float: left;
    width: 20%;
    height: auto;
}

.four-fifths {
    position: relative;
    float: left;
    width: 80%;
    height: auto;
}

.put-left {
    position: relative;
    float: left !important;
}

.put-right {
    position: relative;
    float: right !important;
}

.one-half {
    position: relative;
    float: left;
    width: 50%;
    height: auto;
}

.one-whole {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
}

.auto-fit-container {
    position: relative;
    height: 100%;
    width: 100%;
}