html,
body {
    width: 100%;
    height: 100%;
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.sidebar {
    float: left;
    width: 20%;
    height: 100%;
}

.sidebar-link {
    text-indent: 10%;
    cursor: pointer;    
}

.sidebar-link-active {
    color: #00ade7;
}

.sidebar-link:hover {
    cursor: pointer;
    font-weight: bold;
}

.content {
    float: left;
    width: 80%;
    height: 100%;
}

.currentpage {
    padding: 1.5%;
}