<div ng-show="startJS()" ng-controller="changePassCtrl" class="modal-background">
    <div class="row">
        <div class="col s3"></div>
        <div class="col s6">
            <div class="card change-pass-modal-size">
                <div class="card-content scrollable-content scroll">
                    <span class="card-title grey-text text-darken-4">Change password
                        <i ng-click="functions.hideChangePassModal()" class="material-icons right cursor-button">close</i>
                    </span>
                    <div class="row"></div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i data-feather="lock" class="prefix input-icon"></i>
                            <input id="oldPassword" ng-model="oldPassword" type="password" class="validate" onkeypress="return validate(event)">
                            <label for="oldPassword">Old password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i data-feather="lock" class="prefix input-icon"></i>
                            <input id="newPassword" ng-model="newPassword" type="password" class="validate" onkeypress="return validate(event)">
                            <label for="newPassword">New password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i data-feather="lock" class="prefix input-icon"></i>
                            <input id="cnewPassword" ng-model="cnewPassword" type="password" class="validate" onkeypress="return validate(event)">
                            <label for="cnewPassword">Confirm new password</label>
                        </div>
                    </div>
                    <div class="modal-buttons">
                        <a class="btn-floating btn-large success-button" ng-click="functions.changePassword()">
                            <i data-feather="plus" class="center-feather-icon"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s3"></div>
    </div>
</div>