<div ng-controller="mainpageCtrl">
    <!-- <div class="sidenav">
        <div class="logo">
            <h5>Logo Here</h5>
        </div>
        <div class="sidenav-navigation">
            <ul class="collection">
                <li class="collection-item avatar sidenav-link" ng-click="gotoDashboard()">
                    <i class="material-icons circle icons">dashboard</i>
                    Dashboard
                </li>
                <li class="collection-item avatar sidenav-link" ng-click="gotoEmployees()">
                    <i class="material-icons circle icons">supervisor_account</i>
                    Employees
                </li>
                <li class="collection-item avatar sidenav-link" ng-click="gotoProjects()">
                    <i class="material-icons circle icons">developer_board</i>
                    Projects
                </li>
                <li class="collection-item avatar sidenav-link" ng-click="gotoApplicants()">
                    <i class="material-icons circle icons">assignment_ind</i>
                    Applicants
                </li>
                <li class="collection-item avatar sidenav-link" ng-click="gotoLeaveRequests()">
                    <i class="material-icons circle icons">markunread</i>
                    Leave Requests
                </li>
                <li class="collection-item avatar sidenav-link" ng-click="gotoProfile()">
                    <i class="material-icons circle icons">person</i>
                    Profile
                </li>
            </ul>
        </div>
    </div>
    <div class="content">
        <div>
            <nav>
                <div class="nav-wrapper">
                    <a href="#!" class="brand-logo">{{currentPage}}</a>
                    <ul class="right hide-on-med-and-down">
                        <li>
                            <a ng-click="logout()">
                                <i class="material-icons left">input</i>Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="currentpage">
            <ng-view>

            </ng-view>
        </div>
    </div> -->
    <div class="row">
        <div class="sidebar z-depth-5">
            <div class="row">
                <img class="responsive-img" src="./images/W.jpg">
            </div>
            <div class="row">
                <div class="sidebar-link" ng-click="gotoDashboard()">
                    <b class="sidebar-link-active" ng-show="dashboardactive">Dashboard</b>
                    <p ng-show="!dashboardactive">Dashboard</p>
                </div>
                <div class="sidebar-link" ng-click="gotoApplicants()">
                    <b class="sidebar-link-active" ng-show="applicantsactive">Applicants</b>
                    <p ng-show="!applicantsactive">Applicants</p>
                </div>
                <div class="sidebar-link" ng-click="gotoEmployees()">
                    <b class="sidebar-link-active" ng-show="employeeactive">Employees</b>
                    <p ng-show="!employeeactive">Employees</p>
                </div>
                <div class="sidebar-link" ng-click="gotoProjects()">
                    <b class="sidebar-link-active" ng-show="projectsactive">Projects</b>
                    <p ng-show="!projectsactive">Projects</p>
                </div>
                <div class="sidebar-link" ng-click="gotoProfile()">
                    <b class="sidebar-link-active" ng-show="profileactive">Profile</b>
                    <p ng-show="!profileactive">Profile</p>
                </div>
                <div class="sidebar-link" ng-click="gotoLeaveRequests()">
                    <b class="sidebar-link-active" ng-show="leavesactive">Leave Requests</b>
                    <p ng-show="!leavesactive">Leave Requests</p>
                </div>
            </div>
        </div>
        <div class="content">
            <nav>
                <div class="nav-wrapper">
                    <ul id="nav-mobile" class="right">
                        <li>
                            <a ng-click="logout()">
                                <i class="material-icons left">input</i>Logout
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="row currentpage">
                <div class="col s12 m12 l12">
                    <ng-view>

                    </ng-view>
                </div>
            </div>
        </div>
    </div>
</div>