<div ng-controller="loginCtrl" class="login-bg">
    <!-- <div class="row">
        <div class="col s4"></div>
        <div class="col s4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="common/images/samplecar.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Weltanchaung Corporation
                        <i class="material-icons right">power_settings_new</i>
                    </span>
                    <p>
                        <a ng-click="triggerForget()" class="genericlink">
                            <i>Forgot password?</i>
                        </a>
                    </p>
                </div>
                <div class="card-reveal">
                    <div class="row">
                        <span class="card-title grey-text text-darken-4">Login
                            <i class="material-icons right">close</i>
                        </span>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="email" ng-model="email" value="a" type="email" class="validate" ng-disabled="auth">
                            <label for="email">Email</label>
                        </div>
                    </div>
                    <div class="row" ng-show="!auth">
                        <div class="input-field col s12">
                            <input id="password" ng-model="password" type="password" class="validate" ng-disabled="auth">
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <div class="row" ng-show="auth">
                        <div class="input-field col s12">
                            <input id="pin" ng-model="pin" type="text" class="validate">
                            <label for="pin">Confirmation Pin</label>
                        </div>
                    </div>
                    <div class="row cancelbutton" ng-show="auth">
                        <a class="btn-floating btn-large waves-effect waves-light red" ng-click="cancel()">
                            <i class="material-icons">cancel</i>
                        </a>
                    </div>
                    <div class="row loginbutton">
                        <a class="btn-floating btn-large waves-effect waves-light authone-button" ng-click="login()">
                            <i class="material-icons">input</i>
                        </a>
                    </div>
                    <div class="row loginbutton" ng-show="auth">
                        <a class="btn-floating btn-large waves-effect waves-light authtwo-button" ng-click="authTwo()">
                            <i class="material-icons">input</i>
                        </a>
                    </div>
                </div>
            </div>
            <div ng-show="forgotPassword" class="card">
                <div class="card-content">
                    <div class="row">
                        <span class="card-title grey-text text-darken-4">Forgot password?
                            <i ng-click="cancelForget()" class="material-icons right genericlink">close</i>
                        </span>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="email_forget" ng-model="email_forget" type="email" class="validate">
                            <label for="email_forget">Email</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s4"></div>
    </div> -->
    <div class="row">
        <div class="col s3"></div>
        <div class="col s6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title grey-text text-darken-4">
                        <i>Weltanchaung Corporation</i>
                    </span>
                    <div class="row"></div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i data-feather="at-sign" class="prefix"></i>
                            <input id="email" ng-model="email" type="email" class="validate" ng-disabled="auth">
                            <label for="email">Email</label>
                        </div>
                        <div class="input-field col s12" ng-show="!auth">
                            <i data-feather="lock" class="prefix"></i>
                            <input id="password" ng-model="password" type="password" class="validate">
                            <label for="password">Password</label>
                        </div>
                        <div class="input-field col s12" ng-show="auth">
                            <i data-feather="lock" class="prefix"></i>
                            <input id="pin" ng-model="pin" type="text" class="validate">
                            <label for="pin">Confirmation Pin</label>
                        </div>
                    </div>
                    <div class="row"></div>
                    <div class="row login-step-one-button" ng-show="!auth">
                        <a class="btn-floating btn-large waves-effect waves-light authone-button" ng-click="login()">
                            <i data-feather="log-in" class="center-feather-icon"></i>
                        </a>
                    </div>
                    <div class="row login-step-two-button" ng-show="auth">
                        <a class="btn-floating btn-large waves-effect waves-light authtwo-button" ng-click="authTwo()">
                            <i data-feather="log-in" class="center-feather-icon"></i>
                        </a>
                    </div>
                    <div class="row cancel-login-button" ng-show="auth">
                        <a class="btn-floating btn-large waves-effect waves-light cancel-button" ng-click="cancel()">
                            <i data-feather="x" class="center-feather-icon"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s3"></div>
    </div>
</div>