<div ng-controller="mainpageCtrl">
    <div class="row">
        <div class="sidebar z-depth-5">
            <div class="sidebar-logo">
                <div class="sidebar-logo-text">
                    <span>WELTANCHAUNG</span>
                    <br>
                </div>
                <div class="sidebar-logo-text">
                    <span>CORPORATION</span>
                    <br>
                </div>
            </div>
            <div class="sidebar-links">
                <div class="sidebar-space"></div>
                <div class="sidebar-link link-active" ng-click="gotoProfile()" ng-show="profileactive">
                    <div class="sidebar-link-hover">
                        <span>
                            <b class="sidebar-link-active">
                                <div class="sidebar-link-icon">
                                    <i data-feather="user"></i>
                                </div>
                                <div class="sidebar-link-text">
                                    <span>{{userlogged.files.firstname}}</span>
                                </div>
                            </b>
                        </span>
                    </div>
                </div>
                <div class="sidebar-link" ng-click="gotoProfile()" ng-show="!profileactive">
                    <div class="sidebar-link-hover">
                        <span ng-show="!profileactive">
                            <div class="sidebar-link-icon">
                                <i data-feather="user"></i>
                            </div>
                            <div class="sidebar-link-text">
                                <span>{{userlogged.files.firstname}}</span>
                            </div>
                        </span>
                    </div>
                </div>

                <div class="sidebar-link link-active" ng-click="gotoDashboard()" ng-show="dashboardactive">
                    <div class="sidebar-link-hover">
                        <span>
                            <b class="sidebar-link-active">
                                <div class="sidebar-link-icon">
                                    <i data-feather="layout"></i>
                                </div>
                                <div class="sidebar-link-text">
                                    <span>Dashboard</span>
                                </div>
                            </b>
                        </span>
                    </div>
                </div>
                <div class="sidebar-link" ng-click="gotoDashboard()" ng-show="!dashboardactive">
                    <div class="sidebar-link-hover">
                        <span>
                            <div class="sidebar-link-icon">
                                <i data-feather="layout"></i>
                            </div>
                            <div class="sidebar-link-text">
                                <span>Dashboard</span>
                            </div>
                        </span>
                    </div>
                </div>

                <div class="sidebar-link link-active" ng-click="gotoApplicants()" ng-show="applicantsactive">
                    <div class="sidebar-link-hover">
                        <span>
                            <b class="sidebar-link-active">
                                <div class="sidebar-link-icon">
                                    <i data-feather="file-text"></i>
                                </div>
                                <div class="sidebar-link-text">
                                    <span>Applicants</span>
                                </div>
                            </b>
                        </span>
                    </div>
                </div>
                <div class="sidebar-link" ng-click="gotoApplicants()" ng-show="!applicantsactive">
                    <div class="sidebar-link-hover">
                        <span>
                            <div class="sidebar-link-icon">
                                <i data-feather="file-text"></i>
                            </div>
                            <div class="sidebar-link-text">
                                <span>Applicants</span>
                            </div>
                        </span>
                    </div>
                </div>

                <div class="sidebar-link link-active" ng-click="gotoEmployees()" ng-show="employeeactive">
                    <div class="sidebar-link-hover">
                        <span>
                            <b class="sidebar-link-active">
                                <div class="sidebar-link-icon">
                                    <i data-feather="users"></i>
                                </div>
                                <div class="sidebar-link-text">
                                    <span>Employees</span>
                                </div>
                            </b>
                        </span>
                    </div>
                </div>
                <div class="sidebar-link" ng-click="gotoEmployees()" ng-show="!employeeactive">
                    <div class="sidebar-link-hover">
                        <span ng-show="!employeeactive">
                            <div class="sidebar-link-icon">
                                <i data-feather="users"></i>
                            </div>
                            <div class="sidebar-link-text">
                                <span>Employees</span>
                            </div>
                        </span>
                    </div>
                </div>

                <div class="sidebar-link link-active" ng-click="gotoProjects()" ng-show="projectsactive">
                    <div class="sidebar-link-hover">
                        <span>
                            <b class="sidebar-link-active">
                                <div class="sidebar-link-icon">
                                    <i data-feather="package"></i>
                                </div>
                                <div class="sidebar-link-text">
                                    <span>Projects</span>
                                </div>
                            </b>
                        </span>
                    </div>
                </div>
                <div class="sidebar-link" ng-click="gotoProjects()" ng-show="!projectsactive">
                    <div class="sidebar-link-hover">
                        <span ng-show="!projectsactive">
                            <div class="sidebar-link-icon">
                                <i data-feather="package"></i>
                            </div>
                            <div class="sidebar-link-text">
                                <span>Projects</span>
                            </div>
                        </span>
                    </div>
                </div>

                <div class="sidebar-link link-active" ng-click="gotoLeaveRequests()" ng-show="leavesactive">
                    <div class="sidebar-link-hover">
                        <span>
                            <b class="sidebar-link-active">
                                <div class="sidebar-link-icon">
                                    <i data-feather="calendar"></i>
                                </div>
                                <div class="sidebar-link-text">
                                    <span>Leaves</span>
                                </div>
                            </b>
                        </span>
                    </div>
                </div>
                <div class="sidebar-link" ng-click="gotoLeaveRequests()" ng-show="!leavesactive">
                    <div class="sidebar-link-hover">
                        <span ng-show="!leavesactive">
                            <div class="sidebar-link-icon">
                                <i data-feather="calendar"></i>
                            </div>
                            <div class="sidebar-link-text">
                                <span>Leaves</span>
                            </div>
                        </span>
                    </div>
                </div>

                <div class="sidebar-space"></div>
                <div class="sidebar-space"></div>
                <div class="sidebar-link sign-out-link" ng-click="logout()">
                    <div class="sidebar-link-hover">
                        <span>
                            <div class="sidebar-link-icon">
                                <i data-feather="log-out"></i>
                            </div>
                            <div class="sidebar-link-text">
                                <span>Sign out</span>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <nav>
                <div class="nav-wrapper">
                    <ul id="nav-mobile" class="right">
                        <!-- <li>
                            <a ng-click="logout()">
                                <i class="material-icons left">input</i>Logout
                            </a>
                        </li> -->
                    </ul>
                </div>
            </nav>
            <div class="row currentpage">
                <div class="col s12 m12 l12">
                    <ng-view>

                    </ng-view>
                </div>
            </div>
        </div>
    </div>
</div>