<div ng-if="startJS()" ng-controller="mainpageCtrl">
    <div class="sidebar z-depth-5">
        <div class="sidebar-logo">
            <div class="sidebar-logo-text">
                <div class="sidebar-logo-picture">
                    <img class="fit-picture z-depth-5" ng-src="{{userlogged.files.image}}">
                </div>
            </div>
        </div>
        <div class="sidebar-links">
            <div class="sidebar-space"></div>
            <div class="sidebar-space"></div>
            <div class="sidebar-link link-active z-depth-5" ng-click="functions.gotoProfile()" ng-if="profileactive">
                <div class="sidebar-link-hover">
                    <span>
                        <b class="sidebar-link-active">
                            <div class="sidebar-link-icon">
                                <i data-feather="user"></i>
                            </div>
                            <div class="sidebar-link-text">
                                <span>{{userlogged.files.firstname}}</span>
                            </div>
                        </b>
                    </span>
                </div>
            </div>
            <div class="sidebar-link" ng-click="functions.gotoProfile()" ng-if="!profileactive">
                <div class="sidebar-link-hover">
                    <span ng-if="!profileactive">
                        <div class="sidebar-link-icon">
                            <i data-feather="user"></i>
                        </div>
                        <div class="sidebar-link-text">
                            <span>{{userlogged.files.firstname}}</span>
                        </div>
                    </span>
                </div>
            </div>

            <div class="sidebar-link link-active z-depth-5" ng-click="functions.gotoDashboard()" ng-if="dashboardactive && userlogged.isAdmin">
                <div class="sidebar-link-hover">
                    <span>
                        <b class="sidebar-link-active">
                            <div class="sidebar-link-icon">
                                <i data-feather="activity"></i>
                            </div>
                            <div class="sidebar-link-text">
                                <span>Dashboard</span>
                            </div>
                        </b>
                    </span>
                </div>
            </div>
            <div class="sidebar-link" ng-click="functions.gotoDashboard()" ng-if="!dashboardactive && userlogged.isAdmin">
                <div class="sidebar-link-hover">
                    <span>
                        <div class="sidebar-link-icon">
                            <i data-feather="activity"></i>
                        </div>
                        <div class="sidebar-link-text">
                            <span>Dashboard</span>
                        </div>
                    </span>
                </div>
            </div>

            <div class="sidebar-link link-active z-depth-5" ng-click="functions.gotoApplicants()" ng-if="applicantsactive && userlogged.isAdmin">
                <div class="sidebar-link-hover">
                    <span>
                        <b class="sidebar-link-active ">
                            <div class="sidebar-link-icon">
                                <i data-feather="file-text"></i>
                            </div>
                            <div class="sidebar-link-text">
                                <span>Applicants</span>
                            </div>
                        </b>
                    </span>
                </div>
            </div>
            <div class="sidebar-link" ng-click="functions.gotoApplicants()" ng-if="!applicantsactive && userlogged.isAdmin">
                <div class="sidebar-link-hover">
                    <span>
                        <div class="sidebar-link-icon">
                            <i data-feather="file-text"></i>
                        </div>
                        <div class="sidebar-link-text">
                            <span>Applicants</span>
                        </div>
                    </span>
                </div>
            </div>

            <div class="sidebar-link link-active z-depth-5" ng-click="functions.gotoEmployees()" ng-if="employeeactive && userlogged.isAdmin">
                <div class="sidebar-link-hover">
                    <span>
                        <b class="sidebar-link-active">
                            <div class="sidebar-link-icon">
                                <i data-feather="users"></i>
                            </div>
                            <div class="sidebar-link-text">
                                <span>Employees</span>
                            </div>
                        </b>
                    </span>
                </div>
            </div>
            <div class="sidebar-link" ng-click="functions.gotoEmployees()" ng-if="!employeeactive && userlogged.isAdmin">
                <div class="sidebar-link-hover">
                    <span ng-if="!employeeactive">
                        <div class="sidebar-link-icon">
                            <i data-feather="users"></i>
                        </div>
                        <div class="sidebar-link-text">
                            <span>Employees</span>
                        </div>
                    </span>
                </div>
            </div>

            <div class="sidebar-link link-active z-depth-5" ng-click="functions.gotoProjects()" ng-if="projectsactive && (functions.checkIfProjectLead() || userlogged.isAdmin)">
                <div class="sidebar-link-hover">
                    <span>
                        <b class="sidebar-link-active">
                            <div class="sidebar-link-icon">
                                <i data-feather="package"></i>
                            </div>
                            <div class="sidebar-link-text">
                                <span>Projects</span>
                            </div>
                        </b>
                    </span>
                </div>
            </div>
            <div class="sidebar-link" ng-click="functions.gotoProjects()" ng-if="!projectsactive && (functions.checkIfProjectLead() || userlogged.isAdmin)">
                <div class="sidebar-link-hover">
                    <span ng-if="!projectsactive">
                        <div class="sidebar-link-icon">
                            <i data-feather="package"></i>
                        </div>
                        <div class="sidebar-link-text">
                            <span>Projects</span>
                        </div>
                    </span>
                </div>
            </div>

            <div class="sidebar-link link-active z-depth-5" ng-click="functions.gotoLeaveRequests()" ng-if="leavesactive">
                <div class="sidebar-link-hover">
                    <span>
                        <b class="sidebar-link-active">
                            <div class="sidebar-link-icon">
                                <i data-feather="calendar"></i>
                            </div>
                            <div class="sidebar-link-text">
                                <span>Leaves</span>
                            </div>
                        </b>
                    </span>
                </div>
            </div>
            <div class="sidebar-link" ng-click="functions.gotoLeaveRequests()" ng-if="!leavesactive">
                <div class="sidebar-link-hover">
                    <span ng-if="!leavesactive">
                        <div class="sidebar-link-icon">
                            <i data-feather="calendar"></i>
                        </div>
                        <div class="sidebar-link-text">
                            <span>Leaves</span>
                        </div>
                    </span>
                </div>
            </div>

            <div class="sidebar-space"></div>

            <div class="sidebar-link sign-out-link" ng-click="functions.logout()">
                <div class="sidebar-link-hover">
                    <span>
                        <div class="sidebar-link-icon">
                            <i data-feather="log-out"></i>
                        </div>
                        <div class="sidebar-link-text">
                            <span>Sign out</span>
                        </div>
                    </span>
                </div>
            </div>
        </div>
        <div class="sidebar-footer">
            <i class="graytext">Weltanchaung Corporation</i><br>
            <i class="graytext">2018, QWERTY, UST IT</i>
        </div>
    </div>
    <div class="content">
        <div class="currentpage">
            <div class="col s12 m12 l12">
                <ng-view>

                </ng-view>
            </div>
        </div>
    </div>
</div>