.profile-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.employee-picture-container {
    position: absolute;
    width: 15%;
    height: 20%;
    text-align: center;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.employee-details-container {
    position: absolute;
    width: 100%;
    height: 80%;
    overflow: auto;
}

.employee-picture-specs {
    height: 100%;
    width: 100%;
}

.employee-information {
    height: 80%;
    width: 100%;
    padding: 1.5%;
    margin-bottom: 6%;
}

.employee-information-content {
    height: auto;
    width: 100%;
}

.employee-projects {
    height: auto;
    width: 100%;
    padding: 1.5%;
}

.employee-content-titles {
    position: relative;
    float: left;
    height: auto;
    width: 20%;
}

.employee-content-data {
    position: relative;
    float: left;
    height: auto;
    width: 80%;
}

.employee-details-header {
    height: 10%;
}

.employee-profile-space {
    width: 100%;
    height: 10%;
}

.employee-toggle {
    position: absolute;
    float: right !important;
    right: 0;
    padding: 1.5%;  
    width: 50%;
    height: 100%;
}

.profile-checkbox {
    position: relative;
    float: right;
    width: 20%;
    height: auto;
}