<div ng-show="startJS()">
    <div class="whole-page">
        <div class="top-section">
            <div class="table-filter">
                <div class="input-field">
                    <i data-feather="search" class="prefix"></i>
                    <input id="tablefilter" ng-model="tablefilter" type="text" class="validate z-depth-5">
                    <label for="tablefilter">Search</label>
                </div>
            </div>
            <div class="table-switch">
                <div class="switch graytext">
                    <i>{{employeeTableSwitch}}</i>
                    <label>
                        <input type="checkbox" ng-model="$root.archiveEmployeeToggle" ng-change="functions.toggleArchiveEmployees()">
                        <span class="lever"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="middle-section z-depth-5">
            <div class="scrollable-content scroll">
                <table class="employee-table-table">
                    <thead>
                        <tr>
                            <th ng-show="!(archiveEmployeeToggle)" class="checkbox-table-column">
                                <p class="table-checkbox">
                                    <label for="headercheckboxa">
                                        <input type="checkbox" ng-model="$root.archiveAllEmployees" ng-change="functions.archiveAll()" id="headercheckboxa" />
                                        <span></span>
                                    </label>
                                </p>
                            </th>
                            <th ng-show="(archiveEmployeeToggle)" class="checkbox-table-column">
                                <p class="table-checkbox">
                                    <label for="headercheckboxb">
                                        <input type="checkbox" ng-model="$root.unarchiveAllEmployees" ng-change="functions.unarchiveAll()" id="headercheckboxb" />
                                        <span></span>
                                    </label>
                                </p>
                            </th>
                            <th class="cursor-button" ng-click="functions.sortByKey()">Employee ID</th>
                            <th class="cursor-button" ng-click="functions.sortByEmail()">Email Address</th>
                            <th class="cursor-button" ng-click="functions.sortByLastname()">Last Name</th>
                            <th class="cursor-button" ng-click="functions.sortByFirstname()">Given Name</th>
                            <th>Contact #</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="employee in allEmployees | filter:tablefilter | orderBy:employeeTableSorter track by $index" ng-show="(employee.isArchived === archiveEmployeeToggle)"
                            class="employee-table-row">
                            <td>
                                <p class="table-checkbox">
                                    <label>
                                        <input type="checkbox" ng-change="functions.addEmployeeToMultipleArchive(employee)" ng-model="employee.archive" />
                                        <span></span>
                                    </label>
                                </p>
                            </td>
                            <td ng-click="functions.gotoEmployeeProfile(employee)">{{employee.userkey}}</td>
                            <td ng-click="functions.gotoEmployeeProfile(employee)">{{employee.email}}</td>
                            <td ng-click="functions.gotoEmployeeProfile(employee)">{{employee.files.lastname}}</td>
                            <td ng-click="functions.gotoEmployeeProfile(employee)">{{employee.files.firstname}}</td>
                            <td ng-click="functions.gotoEmployeeProfile(employee)">{{employee.files.contact}}</td>
                            <td ng-show="!employee.isArchived">
                                <a class="btn danger-button z-depth-3 tooltipped" ng-click="functions.archiveEmployee(employee,$event)"
                                    data-position="top" data-tooltip="Archive {{employee.files.lastname}}?">
                                    <i data-feather="archive" class="button-center-icon"></i>
                                </a>
                            </td>
                            <td ng-show="employee.isArchived">
                                <a class="btn danger-button z-depth-3 tooltipped" ng-click="functions.archiveEmployee(employee,$event)"
                                    data-position="top" data-tooltip="Unarchive {{employee.files.lastname}}?">
                                    <i data-feather="rotate-ccw" class="button-center-icon"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="bottom-section">
            <div class="crud-buttons">
                <a ng-click="functions.showAddEmployeeModal()" class="btn-floating btn-large success-button z-depth-5 tooltipped"
                    data-position="top" data-tooltip="Add employee?">
                    <i data-feather="user-plus" class="center-feather-icon"></i>
                </a>
                <a ng-click="functions.showArchiveEmployeeModal()" class="btn-floating btn-large danger-button z-depth-5 tooltipped"
                    data-position="top" data-tooltip="{{archiveEmployeeText}} selected employees?">
                    <div ng-show="!archiveEmployeeToggle" class="center-feather-icon">
                        <i data-feather="archive"></i>
                    </div>
                    <div ng-show="archiveEmployeeToggle" class="center-feather-icon">
                        <i data-feather="rotate-ccw"></i>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-show="showAddEmployee">
    <ng-include src="'./components/employee_component/views/addemployeemodal.html'">
    </ng-include>
</div>

<div class="row" ng-show="showAllAddEmployees">
    <ng-include src="'./components/employee_component/views/alladdemployeesmodal.html'">
    </ng-include>
</div>

<div class="row" ng-show="showMultipleArchiveEmployeeModal">
    <ng-include src="'./components/employee_component/views/multiplearchiveemployeemodal.html'">
    </ng-include>
</div>