<div ng-controller="multipleAddEmployeeCtrl" class="modal-background">
        <div class="row">
            <div class="col s3"></div>
            <div class="col s6">
                <div class="card modal-size">
                    <div class="card-content scrollable-content scrol">
                        <span class="card-title grey-text text-darken-4">{{archiveEmployeeModalText}}
                            <i ng-click="functions.hideMultipleArchiveEmployee()" class="material-icons right cursor-button">close</i>
                        </span>
                        <div class="row">
                            <ul class="collapsible" data-collapsible="accordion">
                                <li ng-repeat="employee in multipleArchiveEmployee track by $index" ng-show="multipleArchiveEmployee.length>0 && employee.isArchived === archiveEmployeeToggle">
                                    <div class="collapsible-header">
                                        <i ng-click="functions.removeEmployee(employee)" class="material-icons">close</i>
                                        {{employee.email}}
                                    </div>
                                    <div class="collapsible-body">
                                        <span>{{employee.files.lastname}}, {{employee.files.firstname}}</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="modal-buttons">
                            <a class="btn-floating btn-large waves-effect waves-light danger-button z-depth-5" ng-click="functions.archiveEmployees()">
                                <i data-feather="archive" class="center-feather-icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s3"></div>
        </div>
    </div>