<div ng-controller="multipleAddApplicantCtrl" class="add-applicant-modal-bg">
    <div class="row">
        <div class="col s3"></div>
        <div class="col s6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title grey-text text-darken-4">Selected applicants
                        <i ng-click="hideMultipleAddApplicant()" class="material-icons right add-applicant-modal-close-button">close</i>
                    </span>
                    <div class="row">
                        <ul class="collapsible" data-collapsible="accordion">
                            <li ng-show="multipleArchive.length>0" ng-repeat="applicant in multipleArchive track by $index">
                                <div class="collapsible-header">
                                    <i ng-click="removeApplicant(applicant)" class="material-icons">close</i>
                                    {{applicant.email}}
                                </div>
                                <div class="collapsible-body">
                                    <span>{{applicant.lastname}}, {{applicant.firstname}}</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="row add-applicants">
                        <a class="btn-floating btn-large waves-effect waves-light default-button-color" ng-click="archiveApplicants()">
                            <i class="material-icons">{{archiveButton}}</i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s3"></div>
    </div>
</div>