<div ng-show="startJS() && functions.startLocalJS()" ng-controller="addApplicantCtrl" class="modal-background">
    <div class="row">
        <div class="col s3"></div>
        <div class="col s6">
            <div class="card modal-size">
                <div class="card-content scrollable-content scroll">
                    <span class="card-title grey-text text-darken-4">Add applicant
                        <i ng-click="functions.hideAddApplicantModal()" class="material-icons right cursor-button">close</i>
                    </span>
                    <div class="row"></div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i data-feather="mail" class="prefix input-icon"></i>
                            <input id="addApplicant_email" ng-model="addApplicant_email" type="email" class="validate">
                            <label for="addApplicant_email">Email</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i data-feather="user" class="prefix input-icon"></i>
                            <input id="addApplicant_lastname" ng-model="addApplicant_lastname" type="text" class="validate">
                            <label for="addApplicant_lastname">Last Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i data-feather="user" class="prefix input-icon"></i>
                            <input id="addApplicant_firstname" ng-model="addApplicant_firstname" type="text" class="validate">
                            <label for="addApplicant_firstname">First Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i data-feather="map-pin" class="prefix input-icon"></i>
                            <input id="addApplicant_address" ng-model="addApplicant_address" type="text" class="validate">
                            <label for="addApplicant_address">Address</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i data-feather="calendar" class="prefix input-icon"></i>
                            <input id="addApplicant_birthdate" ng-model="addApplicant_birthdate" type="text" class="datepicker">
                            <label for="addApplicant_birthdate">Birth date</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i data-feather="award" class="prefix input-icon"></i>
                            <input id="addApplicant_position" ng-model="addApplicant_position" type="text" class="validate">
                            <label for="addApplicant_position">Position</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <i data-feather="phone" class="prefix input-icon"></i>
                            <input id="addApplicant_contact" ng-model="addApplicant_contact" type="text" class="validate">
                            <label for="addApplicant_contact">Contact Number</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="file-field input-field col s12">
                            <div class="btn info-button">
                                <span>
                                    <i data-feather="camera" class="button-file-center-icon"></i>
                                </span>
                                <input id="file" type="file" accept="image/png,image/gif,image/jpeg">
                            </div>
                            <div class="file-path-wrapper">
                                <input ng-model="filename" id="filename" class="file-path validate" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="modal-buttons">
                        <a class="btn-floating btn-large warning-button" ng-click="functions.viewApplicants()">
                            <i data-feather="eye" class="center-feather-icon"></i>
                        </a>
                        <a class="btn-floating btn-large success-button" ng-click="functions.addApplicant()">
                            <i data-feather="user-plus" class="center-feather-icon"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s3"></div>
    </div>
</div>