<div class="row">
    <div class="applicant-page">
        <div class="applicant-table-modifiers">
            <div class="applicant-table-modifiers-filter">
                <input id="tablefilter" type="text" ng-model="tablefilter" class="validate z-depth-5" placeholder="Search">
            </div>
            <div class="applicant-table-modifiers-buttons">
                <a ng-click="showHiredApplicants()" class="btn-floating btn-large waves-effect waves-light show-hired-applicant-button z-depth-5">
                    <i class="material-icons">remove_red_eye</i>
                </a>
                <a ng-click="showArchiveApplicantModal()" ng-show="!(showHired)" class="btn-floating btn-large waves-effect waves-light archive-applicant-button z-depth-5">
                    <i class="material-icons">{{archiveButton}}</i>
                </a>
                <a ng-click="showAddApplicantModal()" ng-show="!(showHired)" class="btn-floating btn-large waves-effect waves-light add-applicant-button z-depth-5">
                    <i class="material-icons">add</i>
                </a>
            </div>
            <div class="applicant-table-modifiers-switch">
                <div ng-show="!(showHired)" class="switch graytext">
                    <i>{{applicantTableSwitch}}</i>
                    <label>
                        <input type="checkbox" ng-model="toggleArchives" ng-change="showActiveTableToast()">
                        <span class="lever"></span>
                    </label>
                </div>
                <div ng-show="(showHired)">
                    <i>
                        <h6 class="graytext">Hired applicants</h6>
                    </i>
                </div>
            </div>
        </div>
        <div class="applicant-table-space"></div>
        <div class="applicant-table z-depth-2">
            <table class="applicant-table-table bordered">
                <thead class="applicant-table-head">
                    <tr>
                        <th ng-show="!(showHired)">
                            <p>
                                <input type="checkbox" ng-model="selectAllApplicants" ng-change="checkAll()" id="headercheckbox" />
                                <label for="headercheckbox"></label>
                            </p>
                        </th>
                        <th>Applicant ID</th>
                        <th>Email Address</th>
                        <th>Reference Number</th>
                        <th>Completion Status</th>
                        <th ng-show="!(showHired)">Action</th>
                    </tr>
                </thead>
                <tbody class="applicant-table-body">
                    <tr ng-repeat="applicant in allApplicants | filter:tablefilter track by $index" ng-show="!applicant.isArchived && !toggleArchives && !showHired && !applicant.hired"
                        class="applicant-table-row">
                        <td>
                            <p>
                                <input type="checkbox" ng-model="applicant.archive" ng-change="addApplicantToMultipleArchive(applicant)" id="{{applicant.userkey}}"
                                />
                                <label for="{{applicant.userkey}}"></label>
                            </p>
                        </td>
                        <td ng-click="gotoApplicantProfile(applicant)">{{applicant.userkey}}</td>
                        <td ng-click="gotoApplicantProfile(applicant)">{{applicant.email}}</td>
                        <td ng-click="gotoApplicantProfile(applicant)">{{applicant.referenceNumber}}</td>
                        <td ng-click="gotoApplicantProfile(applicant)">{{applicant.completion}}</td>
                        <td>
                            <a class="waves-effect waves-light btn archive-applicant-button z-depth-3" ng-click="archiveApplicant(applicant,$event)">
                                <i class="material-icons">{{archiveButton}}</i>
                            </a>
                            <a class="waves-effect waves-light btn hire-applicant-button z-depth-3" ng-click="hireApplicant(applicant,$event)">
                                <i class="material-icons">touch_app</i>
                            </a>
                        </td>
                    </tr>
                    <tr ng-repeat="applicant in allApplicants | filter:tablefilter track by $index" ng-show="applicant.isArchived && toggleArchives && !showHired && !applicant.hired"
                        class="applicant-table-row">
                        <td>
                            <p>
                                <input type="checkbox" ng-model="applicant.archive" ng-change="addApplicantToMultipleArchive(applicant)" id="{{applicant.userkey}}"
                                />
                                <label for="{{applicant.userkey}}"></label>
                            </p>
                        </td>
                        <td ng-click="gotoApplicantProfile(applicant)">{{applicant.userkey}}</td>
                        <td ng-click="gotoApplicantProfile(applicant)">{{applicant.email}}</td>
                        <td ng-click="gotoApplicantProfile(applicant)">{{applicant.referenceNumber}}</td>
                        <td ng-click="gotoApplicantProfile(applicant)">{{applicant.completion}}</td>
                        <td>
                            <a class="waves-effect waves-light btn archive-applicant-button z-depth-3" ng-click="archiveApplicant(applicant,$event)">
                                <i class="material-icons">{{archiveButton}}</i>
                            </a>
                            <a class="waves-effect waves-light btn hire-applicant-button z-depth-3" ng-click="hireApplicant(applicant,$event)">
                                <i class="material-icons">touch_app</i>
                            </a>
                        </td>
                    </tr>
                    <tr ng-repeat="applicant in allApplicants | filter:tablefilter track by $index" ng-show="(showHired) && (applicant.hired)"
                        class="applicant-table-row">
                        <td ng-click="gotoApplicantProfile(applicant)">{{applicant.userkey}}</td>
                        <td ng-click="gotoApplicantProfile(applicant)">{{applicant.email}}</td>
                        <td ng-click="gotoApplicantProfile(applicant)">{{applicant.referenceNumber}}</td>
                        <td ng-click="gotoApplicantProfile(applicant)">{{applicant.completion}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row" ng-show="showAddApplicant">
    <ng-include src="'./components/applicant_component/views/addapplicantmodal.html'">
    </ng-include>
</div>

<div class="row" ng-show="showAllAddApplicants">
    <ng-include src="'./components/applicant_component/views/alladdapplicantsmodal.html'">
    </ng-include>
</div>

<div class="row" ng-show="showMultipleAddApplicantModal">
    <ng-include src="'./components/applicant_component/views/multiplearchiveapplicantmodal.html'">
    </ng-include>
</div>